/bin
/include
/lib
/lib64
/include
/Include
/Lib
/Scripts
/share
/tcl
/selenium
Projetos/sqlalchemy_live_python/__pycache__
Projetos/bottle_api_rest/__pycache__/
Projetos/scraping_beautiful_soap/__pycache__/
Projetos/scraping_selenium/__pycache__/
pip-selfcheck.json
pyvenv.cfg
*.log
